{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": 4
        },
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ],
  "plugins": [
    [
      "module:fast-async",
      {
        "spec": true
      }
    ]
  ]
}